<!-- Any Template driven form must use NgForm attributr directive. the corresponding model is automatically created by Angular -->
<fieldset>
  <legend>Enter User Data</legend>
  <form #userData="ngForm" (ngSubmit)="addUser(userData.value)">
    <label>User ID :</label><input type="text" name="fuid" ngModel><br>
    <label>PAssword :</label><input type="text" name="password" ngModel><br>
    <label>Email:</label><input type="email" name="email" ngModel><br>
    
    <input type="submit" value="Add User">
    <input type="button" value="Update User" (click)="UpdateUser(userData.value)">
    <input type="button" value="Get User" (click)="getUser(userData.value)">
    <input type="reset" value="Reset">
    <input type="button" value="Display table" (click)="hideshow()">
    </form>
    <hr>
    <hr>
    <div>
      <h2>User Found!</h2>
      <table>
        <tr><td>First Name</td><td>Last Name</td><td>Email</td><td>Join Date</td><td>Salary</td></tr>
        <tr *ngFor="let user of getuserarray"><td>{{user.firstName}}</td><td>{{user.lastName}}</td><td>{{user.email}}</td><td>{{user.joinDate}}</td><td>{{user.salary}}</td></tr>
      </table>
     </div>
     <hr>
     <hr>
    <table [hidden]="!enable">
      <tr><td>First Name</td><td>Last Name</td><td>Email</td><td>Join Date</td><td>Salary</td></tr>
      <tr *ngFor="let user of detailsArray">
        <td>{{user.uid}}</td>
        <td>{{user.password}}</td>
        <td>{{user.email}}</td>
        <td><input type="button" value="Delete" (click)="deleteUser(user)"></td>
      </tr>
      </table>
</fieldset>